DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306
DB_NAME=

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

KAKAO_REST_API_KEY=
KAKAO_REDIRECT_URI=
KAKAO_CLIENT_SECRET=

REDIS_HOST=
REDIS_PORT=6379

EMAIL_SENDER=
EMAIL_PASSWORD=
